<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/frontend/styles/index.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <main>
            <img id="logo" src="/frontend/media/mern-list-logo.svg"/>
            <p>A project by Sam Dawson</p>
            <p>www.github.com/Verano-20</p>
            <a id="signUp" href="/signUp">Sign Up</a>
            <a id="login" href="/login">Login</a>
        </main>
    </body>
</html>