<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/frontend/styles/login.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <main>
            <img id="logo" src="/frontend/media/mern-list-logo.svg"/>
            <form>
                <input id="username" placeholder="Username/Email" required/>
                <input id="password" type="password" placeholder="Password" required/>
                <button id="login">Login</button>
                <div>
                    <p>Don't have an account?</p>
                    <a href="/frontend/templates/signUp.html">Sign Up</a>
                </div>
            </form>
            <p>A project by Sam Dawson</p>
            <p>www.github.com/Verano-20</p>
        </main>
    </body>
</html>