<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/frontend/styles/login.css" type="text/css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.x-git.js" type="text/javascript"></script>
        <script src="/frontend/utils/login.js" type="text/javascript"></script>
    </head>
    <body>
        <main>
            <div id="logo-wrapper">
                <img id="logo" src="/frontend/media/mern-list-logo.svg"/>
            </div>
            <form>
                <input id="username" placeholder="Username" required/>
                <input id="password" type="password" placeholder="Password" required/>
                <button id="login">Login</button>
                <div>
                    <p>Don't have an account?</p>
                    <a href="/frontend/templates/signUp.html">Sign Up</a>
                </div>
            </form>
            <p>A project by Sam Dawson</p>
            <p>www.github.com/Verano-20</p>
        </main>
    </body>
</html>