<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/frontend/styles/main.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div id="nav-tab">
            <div></div>
        </div>
        <div id="nav-hamburger">
            <div>
                <div id="bar1"></div>
                <div id="bar2"></div>
                <div id="bar3"></div>
            </div>
        </div>
        <nav>
            <div>
                <img id="logo" src="/frontend/media/mern-list-logo.svg"/>
                <p>By Sam Dawson</p>
                <p>www.github.com/Verano-20</p>
            </div>
            <a href="home.html">Logout</a>
        </nav>
        <main>
            <div id="list-wrapper">
                <ul id="taskList">
                    <li><div><p>Example item.</p></div><span></span></li>
                    <li><div><p>Example item.</p></div><span></span></li>
                    <li><div><p>Example item.</p></div><span></span></li>
                    <li><div><p>Example item.</p></div><span></span></li>
                    <li><div><p>Example item.</p></div><span></span></li>    
                    <li><div><p>Example item.</p></div><span></span></li>
                    <li><div><p>Example item.</p></div><span></span></li>
                    <li><div><p>Example item.</p></div><span></span></li>
                    <li><div><p>Example item.</p></div><span></span></li>
                    <li><div><p>Example item.</p></div><span></span></li>
                    <li><div><p>Example item.</p></div><span></span></li>
                    <li><div><p>Example item.</p></div><span></span></li>
                    <li><div><p>Example item.</p></div><span></span></li>
                    <li><div><p>Example item.</p></div><span></span></li>
                </ul>
            </div>
            <form>
                <input id="task-input" placeholder="New Task" required/>
                <button id="submit-btn">
                    <div id="plus1"></div>
                    <div id="plus2"></div>
                </button>
            </form>
        </main>
        <footer>
            <p>A project by Sam Dawson</p>
            <p>www.github.com/Verano-20</p>
        </footer>
    </body>
</html>