<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/frontend/styles/signUp.css" type="text/css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.x-git.js" type="text/javascript"></script>
        <script src="/frontend/utils/signUp.js" type="text/javascript"></script>
    </head>
    <body>
        <main>
            <img id="logo" src="/frontend/media/mern-list-logo.svg"/>
            <form>
                <input id="username" placeholder="Username" required/>
                <input id="email" type="email" placeholder="Email" required/>
                <input id="password" type="password" placeholder="Password" required/>
                <input id="confirmPassword" type="password" placeholder="Confirm Password" required/>
                <button id="signUp">Sign Up</button>
                <div>
                    <p>Already have an account?</p>
                    <a href="/frontend/templates/login.html">Login</a>
                </div>
            </form>
            <p>A project by Sam Dawson</p>
            <p>www.github.com/Verano-20</p>
        </main>
    </body>
</html>